<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title>
</head>
<body>
	<header>
		<img src="/img/meadowlark.png" alt="Meadowlark logo" width=51 height=60>
	</header>
	{{{body}}}
</body>
</html>